@charset "utf-8";
#title {
  margin-left: 1150px;
  font-size: 50px;
  font-style: oblique;
  color: orange !important;
}

body {
  background: url('img/basketball2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: black;
}

#menuleiste {
  list-style-type: none;
  margin-top: -50px;
  overflow: hidden;
  background-color: rgba(61, 61, 61, 0.6);
}

li a {
  float: left;
  border-right: 1px solid black;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li .active {
  background-color: orange;
  color: black;
}

table, th, td {
  /*  border="5";*/
  border: 3px solid #CDB38B;
  border-collapse: collapse;
  padding: 15px;
  margin: 50px 0px 150px 200px;
  background-color: rgba(61, 61, 61, 0.8);
}
