#title {
    color: #00BFFF !important;
}

body {
    background-color: grey;
    color: black;
}

#formular {
    display: block;
    width: 375px;
    height: 550px;
    margin-top: 20px;
    margin-left: 450px;
    padding: 18px;
    background-color: #6495ED;
}

b {
    display: inline-block;
    float: left;
    clear: left;
    width: 120px;
    text-align: left;
}

input {
    display: inline-block;
    float: left;
    border-color: #6495ED;
}

select {
    display: inline-block;
    float: left;
}

#menuleiste {
    list-style-type: none;
    margin-top: 20px;
    overflow: hidden;
    background-color: #90EE90;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li .active {
    background-color: #00BFFF;
}
