<!DOCTYPE html>
<html lang="de">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <div id="title">#21</div>
  <link rel="stylesheet" href="../design/index.css">
  <link rel="stylesheet" href="../design/chat.css">
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="/javascript/chat.js"></script>
</head>


<body>

  <ul id="menuleiste">
    <li><a href="Home.html">Home</a></li>
    <li><a href="AddPlayer.html">Add Player</a></li>
    <li><a href="Players.html">Players</a></li>
    <li><a class="active" href="#chat">Chat</a></li>
  </ul>

  <main>

    <div id="messages">Willkommen, bitte gebe deinen Usernamen ein</div>
    <form id="chat">
      <input id="eingabe" autocomplete="off" /><button>Senden</button>
    </form>

  </main>
</body>

</html>
