<!DOCTYPE html>

<html lang="de">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title> #21</title>
  <div id="title"> #21</div>
  <link rel="stylesheet" href="../design/addPlayer.css">
  <link href="../design/home.css" rel="stylesheet" type="text/css">

</head>

<ul id="menuleiste">
  <li><a class="active" href="home.html">Home</a></li>
  <li><a href="addPlayer.html">Add Player</a></li>
  <li><a href="Players.html">Players</a></li>
  <li><a href="chat.html">Chat</a></li>

</ul>

<center>
  <div id="text">/**Inhalte des Doku p*/
    <p>Du befindest dich auf einer modernen Website rund um Basketball.
      <p> Hole dir zu jedem einzelnen Spieler verschiedene Informationen ein und
        <p> schau dir die Übersicht in einer Tabelle an. F&uuml;ge neue Spieler hinzu und sei immer auf dem aktuellen Stand.
          <p> Hinter #21 stehen zwei Studenten der Hochschule Mannheim,
            <p> die derzeit diese Website im Rahmen eines Projekts entwickeln.</div>
</center>

</body>

</html>
