@charset "utf-8";

/* CSS Document */

#title {
  margin-left: 1150px;
  font-size: 50px;
  font-style: oblique;
  color: orange !important;
}

#menuleiste {
  list-style-type: none;
  margin-top: -50px;
  overflow: hidden;
  background-color: rgba(61, 61, 61, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  bottom: 0;
  width: 500px;
  margin: -20px auto 100px;
  opacity: 0.9;
  color: white;
}

form input {
  border: 0;
  padding: 10px;
  width: 75%;
  margin-right: .5%;
  color: white;
}

form button {
  width: 24%;
  background: orange;
  border: none;
  padding: 10px;
  margin: 0;
}


/* CSS Document*/

#messages {
  text-align: left;
  margin: 50px auto;
  margin-bottom: 25px;
  padding: 10px;
  background-color: orange height: 610px;
  color: white;
  width: 500px;
  border: 1px solid #ACD8F0;
  overflow: auto;
  list-style-type: none;
  /*margin: 0; padding: 0;*/
  opacity: 0.7;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

b {
  font-weight: bold;
  font-style: italic;
  color: orange;
}
