@charset "utf-8";

/* CSS Document */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#menuleiste {
  list-style-type: none;
  margin-top: 15px;
  overflow: hidden;
  background-color: rgba(61, 61, 61, 0.6);
}

form {
  bottom: 0;
  width: 500px;
  margin: -20px auto 100px;
  opacity: 0.9;
}

form input {
  border: 0;
  padding: 10px;
  width: 75%;
  margin-right: .5%;
}

form button {
  width: 24%;
  background: darkorange;
  border: none;
  padding: 10px;
  margin: 0;
}

main section article {
  margin: 50px 0px 180px 180px;
  width: 410px;
  height: 690px
}

#messages {
  text-align: left;
  margin: 20px auto;
  margin-bottom: 25px;
  padding: 10px;
  background: darkorange;
  height: 610px;
  width: 500px;
  border: 1px solid #ACD8F0;
  overflow: auto;
  list-style-type: none;
  /*margin: 0; padding: 0;*/
  opacity: 0.7;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

b {
  font-weight: bold;
  font-style: italic;
}
