#title {
  margin-left: 1150px;
  font-size: 50px;
  font-style: oblique;
  color: orange !important;
}

body {
  background: url(../img/basketball2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: black;
}

#text {
  margin-top: 40px;
  font-family: cursive;
  font-size: 15pt;
  display: inline-block;
  text-align: center;
  background-color: rgba(61, 61, 61, 0.8);
  color: #CDB38B;
}

#menuleiste {
  list-style-type: none;
  margin-top: -50px;
  overflow: hidden;
  background-color: rgba(61, 61, 61, 0.6);
}

li a {
  float: left;
  border-right: 1px solid black;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li .active {
  background-color: orange;
  color: black;
}
